*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Overpass";
}

.heading-primary--main {
  font-size: 5rem;
  display: block;
  margin-bottom: 1.5rem;
}

.heading-primary--sub {
  font-weight: 400;
}

.heading-secondary {
  font-size: 3rem;
  color: #1f3f5b;
}

.heading-tertiary {
  font-size: 2.5rem;
  color: #1f3f5b;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-big {
  margin-top: 7rem;
}

.u-margin-top-extra {
  margin-top: 10rem;
}

.u-margin-bottom-big {
  margin-bottom: 10rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.header {
  height: 75vh;
  padding: 5rem 12rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 143, 112, 0.95)), to(rgba(255, 61, 84, 0.99))), url(/img/bg-pattern-intro.svg);
  background-image: linear-gradient(to right bottom, rgba(255, 143, 112, 0.95), rgba(255, 61, 84, 0.99)), url(/img/bg-pattern-intro.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 27% 51%;
  color: white;
  border-bottom-left-radius: 7rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30rem;
  padding-top: 2rem;
}

.header__menu-item {
  display: inline-block;
  font-size: 1.6rem;
  position: relative;
  height: 4rem;
  cursor: pointer;
}

.header__menu-item:not(:first-child) {
  margin-left: 3rem;
}

.header__menu-item:hover .header__dropdown-content {
  display: block;
}

.header__menu-item:hover .header__link::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  background-image: url(../../img/icon-arrow-light.svg);
  width: 10px;
  height: 7px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__link {
  text-decoration: none;
}

.header__link:visited, .header__link:link {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.header__link::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  background-image: url(../../img/icon-arrow-light.svg);
  width: 10px;
  height: 7px;
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}

.header__dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  padding: 3rem 5rem 3rem 2rem;
  top: 3.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.header__dropdown-item {
  list-style: none;
}

.header__dropdown-link {
  display: inline-block;
  font-family: Ubuntu;
  text-decoration: none;
  font-size: 1.5rem;
  color: #25252d;
}

.header__dropdown-link:not(:last-child) {
  margin-bottom: 1rem;
}

.header__dropdown-link:hover {
  font-weight: 700;
}

.header__login-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 15rem;
}

.header__login-actions > a:first-child {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

.header__login-actions > .btn {
  min-width: 13rem;
}

.header__text-box {
  margin-top: 8rem;
  text-align: center;
}

.header__button-box {
  margin-top: 4rem;
}

.btn {
  display: inline-block;
  background-color: white;
  font-size: 1.6rem;
  color: #ff525d;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 1.4rem;
  margin-left: 4px;
  margin-right: 4px;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.btn:hover {
  background-color: #ff7a85;
  color: white;
}

.btn--outlined {
  background-color: transparent;
  border: solid 1px white;
  color: white;
}

.btn--outlined:hover {
  background-color: white;
  color: #ff525d;
}

.section-features {
  background-color: white;
  position: relative;
  overflow: hidden;
}

.section-features__feature-container {
  width: 50%;
  padding-left: 10rem;
}

.section-features__feature-container p {
  font-size: 1.6rem;
  font-family: Ubuntu, sans-serif;
  color: #4b5862;
  line-height: 3rem;
}

.section-features__image {
  width: 60%;
  float: right;
  position: absolute;
  top: 10%;
  left: 58%;
}
/*# sourceMappingURL=main.css.map */