body {
  font-family: "Overpass";
}

.heading-primary--main {
  font-size: 5rem;
  display: block;
  margin-bottom: 1.5rem;
}

.heading-primary--sub {
  font-weight: 400;
}

.heading-secondary {
  font-size: 3rem;
  color: $color-primary-dark;
}

.heading-tertiary {
  font-size: 2.5rem;
  color: $color-primary-dark;
}

.heading-tertiary--hilight {
  font-size: 3.8rem;
  color: $color-white;
}
